.classpath
.project
.gradle
.idea
.settings
.DS_Store
.cache
*.iml
gen_java
build
bin
target

/app/src/main/resources/swagger-ui/dist/
/tests/.allure/
/skills-lock.json
/.mcp.json
/.claude/settings.json
/tests/reports/
